section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a{
    width: 480px;
    height: 75px;
    background-color: red;
}
.b{
    width: 480px;
    height: 150px;
    background-color: blue;
    
}
.c{
    background-color: lightgreen;
}
.d{
    background-color: lightblue;
}
.e{
    background-color: pink;
}
.f{
    background-color: tan;
}
.g{
    background-color: lightsalmon;
}
.h{
    background-color: lightslategray;
}
.i{
    width: 480px;
    height: 80px;
    background-color: orange;
}

@media(min-width: 768px){
    body{
        width: 960px;
        margin: 0 auto;
    }
    .a{
        width: 960px;
        height: 100px;
        background-color: #9900FF;
    }
    .b{
        width: 200px;
        height: 600px;
        background-color: #00FF40;
        float: left;
        
    }
    .c{
        background-color: #90E8EE;
    }
    .d{
        background-color: #DDE6AD;
    }
    .e{
        background-color: #E1C0FF;
    }
    .f{
        background-color: #8CD2BD;
    }
    .g{
        background-color: #F6FF7A;
    }
    .h{
        background-color: #99778B;
    }
    .i{
        width: 760px;
        height: 150px;
        background-color: #FF1E00;
        float: left;
        
    }
}